body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul,
nav,
ol,
li {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

h4::after,
h4::before {
  content: "-";
}

h4 {
  padding-left: 12px;
  padding-right: 12px;
  color: #78fff1;
}

li {
  list-style: none;
}

a::before {
  content: "🔗 ";
}
a {
  text-decoration: none;
  color: #78fff1;
}
a:hover {
  background: linear-gradient(to bottom, #ff6495, #78fff1);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
